pandas>=2.0,<3
pyyaml>=6.0
soundfile
numpy
pytest
transformers
tqdm
librosa
torch
torchcodec
torchaudio
jsonlines
langcodes
sentencepiece
protobuf
accelerate
whisper
sacrebleu
huggingface_hub
nltk
datasets
lightning
pytorch_lightning
evaluate
jiwer
setuptools==81.0.0
matplotlib
unbabel-comet==2.2.7
